<div class="page-container">

  <div class="chat-wrapper">

    <div class="chat-container">
      <message-list 
        [messages]="messages"
        [newToken]="lastToken"  
      ></message-list>
      <chat-input (send)="sendPrompt($event)"></chat-input>
    </div>
    
    <aside 
      class="side-panel-container" 
      [class.open]="sideOpen"
      (mouseenter)="handlePanelEnter()"
      (mouseleave)="handlePanelLeave()">
      
      <div class="side-panel-header">
        <h3>Agent Activity</h3>
      </div>
      <div class="side-panel-content">
        <side-panel [notifications]="notifications"></side-panel>
      </div>
    </aside>

  </div>
</div>