<div class="page-container">
  <div class="chat-wrapper">

    @if (displayAdvanced) {
      <aside
        class="side-panel-container left"
        [class.open]="leftSideOpen"
        (mouseenter)="handleLeftPanelEnter()"
        (mouseleave)="handleLeftPanelLeave()">
  
        <div class="side-panel-header">
          <h3>Tool Results</h3>
        </div>
        <div class="side-panel-content">
          <side-panel [notifications]="resultNotifications"></side-panel>
        </div>
      </aside>
    }

    <div class="chat-container">
      <message-list 
        [messages]="messages"
        [newToken]="lastToken"  
        [stateMessage]="stateMessage"
        [errorMessage]="errorMessage"
        [queuePosition]="queuePosition"
        [socket]="socket"
        (sendPrompt)="sendPrompt($event)"
      ></message-list>
      <div class="chat-footer">
        <chat-input (send)="sendPrompt($event)" [connectionStatus]="socketStatus"></chat-input>
        @if (messages.length > 0) {
          <button class="reset-button" (click)="resetChat()" title="New chat">
            <i class="fas fa-plus"></i> New chat
          </button>
        }
      </div>
    </div>
    
    @if (displayAdvanced) {
      <aside 
        class="side-panel-container right" 
        [class.open]="rightSideOpen"
        (mouseenter)="handleRightPanelEnter()"
        (mouseleave)="handleRightPanelLeave()">
        
        <div class="side-panel-header">
          <h3>Agent Activity</h3>
        </div>
        <div class="side-panel-content">
          <side-panel [notifications]="notifications"></side-panel>
        </div>
      </aside>
    }
  </div>
</div>


@if (!isLoggedIn) {
  <app-login-modal [socket]="socket" [countedError]="errorMessage"></app-login-modal>
}
