<div class="message-list-container" #scrollContainer>
  <div *ngFor="let msg of messages" class="message-wrapper" [@fadeIn] [ngClass]="{
         'user-message': msg.role === 'user',
         'assistant-message': msg.role === 'assistant'
       }">
    <div class="message-row">

      @if (msg.role === 'assistant') {
      <div class="message-bubble">
        @if(queuePosition > 0) {
        <div>
          Urška is busy, waiting for my turn (Queue position {{ queuePosition }})
        </div>
        }

        @if (msg.error) {
          <div>
          <h4 class="thinking-header">
            😞 Something went wrong...
          </h4>
          <div class="thinking-content" #scrollContainerThink>
            {{ msg.error }}
          </div>
        </div>
        }

        @if (!msg.content && msg.state) {
        <div>
          <h4 class="thinking-header">
            <span class="loader"></span>
            🤔 Thinking...
          </h4>
          <div class="thinking-content" #scrollContainerThink>
            {{ msg.state }}
          </div>
        </div>
        }
        <div [@collapse]="isThinking(msg)">
          <h4 class="thinking-header">🤔 Thinking...</h4>
          <div class="thinking-content" #scrollContainerThink>
            {{ getThinkingContent(msg) }}
          </div>
        </div>

        @if (shouldRenderFinalContent(msg)) {
        <markdown [data]="getFinalContent(msg)"></markdown>
        }
      </div>
      }

      @if (msg.role === 'user') {
      <div class="message-bubble">
        {{ msg.content }}
      </div>
      }

    </div>
  </div>
</div>